.clear { clear: both; }
.error { color: red; }
.footer { color: silver; float: left;}
.footer .links { color: silver; float: left;}
.footer .copyright { float: left; }
.header { background-color: red; }
.header .links { float: left; margin: 11px 0 0 8px; }
.header .links a { font-weight: bold; padding: 0 7px 0 7px; }
.links { float: left; }
.notice { color: green; }
.profile { background-color: green; float: left; }

