%h1
  Forgot Password
%p
  Enter your email and you will receive an email to reset your password.
- form_for :user, :url => forgot_password_path do |f|
  = label_tag 'email'
  %br/
  = f.text_field :email
  = submit_tag 'Send Password'
