<h1>Forgot Password</h1>
<p>Enter your email and you will receive an email to reset your password.</p>
<% form_for :user, :url => forgot_password_path do |f| -%>
  
<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= submit_tag 'Send Password' %></p>
<% end -%>
