<h1>Rest Password</h1>
<p>Enter your new password:</p>
<% form_for :user, :url => reset_password_path do |f| -%>
<%= render :partial => "passwords", :locals => {:f => f} %>
<p><%= submit_tag 'Sign up' %></p>
<% end -%>
